.title {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: 20px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #87cefa;
}

.colored-cell {
    background-color: #32cd32;
}
