.title {
    text-align: center;
    margin-top: 20px;
}

.table-with-style {
    border-collapse: collapse;
}

.table-with-style th,
.table-with-style td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}

.table-with-style th {
    background-color: #87cefa;
}

.table-with-style .merged-cell {
    background-color: #32cd32;
}
